#filterPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: auto;
    background-color: gray;
    z-index: 5000;
    display: none;
}

#diagram {
    width: auto;
    height: 100%;
}

#parrallel{
    width: 100%;
    height: 300px;
}
#table{
    width: 100%;
    height: 300px;
    position: relative;
    top: 40px;
}
input[type=text]{
    border:0;
    color:#f6931f;
    font-weight:bold;
}
