table {
  border-collapse: collapse;
  font: 6px sans-serif;
  width: 100%;
}

th {
    font: 12px sans-serif;
    font-weight: normal;
    text-align: right;
    padding-right: 6px;
    min-width: 50px;
}

thead td {
  cursor: s-resize;
}

tbody tr:first-child td {
  padding-top: 1px;
}
tbody tr td:first-child{
    width: 200px;
}

tbody td {
  padding: 0;
  border-left: solid 1px #000;
}

tbody tr{
    color: steelblue;
}

tbody tr:hover{
    color: brown;
    font: 12px sans-serif;
}
tbody rect {
    fill: steelblue;
}

tbody tr:hover svg {
    height: 12px;
}

tbody tr:hover rect {
    fill: brown;
}
