table {
  border-collapse: collapse;
  font: 6px sans-serif;
  width: 100%;
}

th {
    font: 12px sans-serif;
    font-weight: normal;
    text-align: right;
    padding-right: 6px;
    min-width: 50px;
}

thead td {
  cursor: s-resize;
}

tbody tr:first-child td {
  padding-top: 1px;
}
tbody tr td:first-child{
    width: 200px;
}

tbody td {
  padding: 0;
  border-left: solid 1px #000;
}

tbody tr{
    color: steelblue;
}

tbody tr:hover{
    color: brown;
    font: 12px sans-serif;
}
tbody rect {
    fill: steelblue;
}

tbody tr:hover svg {
    height: 12px;
}

tbody tr:hover rect {
    fill: brown;
}

.slick-header-column.ui-state-default {
    background:none ;
    background-color: #505050 ;
    color: #eeeeee;
    border: none;
    padding: 0;
    text-shadow: none;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
}

.slick-row.ui-widget-content, .slick-cell {
    /* background: none; */
    /* background-color: #eeeeee; */
    /* color: #666666; */
    border: none;
    border-bottom: solid 0px #ffffff;
    font-size: 10px;
    height: 20px;
    line-height: 10px;
    /* padding: 0 5px; */
}

.slick-row:hover{
    background-color: #F5F5DC;
    /* font: 12px sans-serif; */
}
.slick-row rect {
    fill: steelblue;
}

.slick-row:hover svg rect{
    height: 16px;
}

.slick-row:hover rect {
    fill: brown;
}

.slick-cell.active{
    border: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
